<% if signed_in? %>
  <% controller.redirect_to companies_path %>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the FoodON</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>