<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <p>
        <%= @user.email %><br>
      </p>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<%= render 'shared/all_orders_user' %>