<footer class="footer">
  <small>
    <li><%= link_to "FoodON", root_path %></li>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>